$Amethyst :#9B5DE5;
$MagentaCrayola : #F15BB5;
$MinionYellow : #FEE440;
$Capri : #00BBF9;
$SeaGreen : #00F5D4;
$grey:#d4d4d4;
$White:#fff;

h1{
    text-align: center;
    color: $SeaGreen;
    margin: 40px 0;
    padding: 40px 0;
}
.formulaire{
    background-color: $grey;
    border-radius: 0.5em;
    padding: 20px;
    h2{
        color: $MagentaCrayola;
        margin: 20px 0 ;
    }
    button{
        background-color: $Amethyst;
        color: $White;
        padding: 5px 60px;
        margin: 40px 0;
        &:hover{
            background-color: $SeaGreen;
        }
    }
    ul{
        list-style-type: none;
    }
    ul li{
        color: $MagentaCrayola;
        text-decoration: none;
    }
}
.quiz {
    background-color: $grey;
    border-radius: 0.5em;
    padding: 20px;
    h2{
        color: $MagentaCrayola;
        margin: 20px 0 ;
    }
    h4{
        background-color: $Capri;
        border-radius: 0.5rem;
        font-size: 16px;
        color: $White;
        padding: 10px 50px;
    }
    button{
        background-color: $Amethyst;
        color: $White;
        padding: 5px 60px;
        margin: 40px 0;
        &:hover{
            background-color: $SeaGreen;
        }
    }
}
.q1, .q2, .q3{
    .question1, .question2, .question3{
        font-weight: bold;
        color: $Amethyst;
    }
    .reponse1, .reponse2, .reponse3{
        margin: 0 20px;
        p{
            margin-left: 10px;
        }
    }
}

.questionnaire{
    h6{
        font-weight: bold;
        color: $Amethyst;
    }
}

#accordion{
    h5{
        font-size: 20px;
        color: $SeaGreen;
    }
}